
.header {
    background-color: #BDD7EE;
    align-items: center;
}
.logo {
    font-size: 40px;
}
a.logo:hover {
    text-decoration: none;
}
.span_a {
    font-size: 15px;
    text-align: center;
}
.span_b {
    margin-left: 6%;
}
.span_d {
    margin-left: 2.5%;
}

.info {
    display: flex;
}
.top_a {
    position: absolute;
    margin-left: 12%;
    font-size: 40px;
    margin-top: 24%;
}

.top_2 {
    height: 50%;
    border-bottom: 1px black solid;
}
.top_c {
    
    text-align: center;
}
.img_top {
    width: 25%;
}
.top_3 {
    height: 8%;
}

.top_d {
    text-align: center;
    margin-top: 2%;
}
.top_e {
    text-align: center;
    margin-top: 2%;
}

.info_1 {

    margin-top: 3%;
}

.customer {
    display: inline-block;
    border: double;
    margin-top: 2%;
    margin-left: 20%;
    text-align: center;
    
    width: 16%;
}
.customer_1{
    
    font-size: 20px;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 40px;
}
.customer_information {
    text-align: center;
    padding-left: 15%;
}
.message {
    margin-top: 3%;
    text-align: center;
    
}
.error_message {
    text-align: center;
    font-size: 10px;
    color: #ec1c24;
}
.enroll_1 {
    /*text-align: center;*/
    margin-bottom: 20px;
    margin-top: 32px;
    margin-left: 44%;
}
.btn-gradient {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  margin-left: 0%;
}

.btn-gradient:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.enroll_2 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 2%;
}
.purchase {
    display: inline;
}
.purchase_id {
    width: 6%;
    font-size: 11px;
}
.purchase_img {
    padding-top: 2%;
    width: 70%;
}
.purchase_td {
    font-size: 11px;
    font-family: sans-serif;
    width: 12%;
    text-align: center;
}

.footer {
    background-color: #D6DCE4;
    display: flex;
    margin-top: 4%;
    padding-bottom: 2%;
}

ul {
    width: 30%;
    font-size: 20px;
}
li {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 3%;
}
.login_1{
    margin-left: 20%;
}
.login_2 {
    text-align: center;
    margin-top: 1%;
}

.question_2 {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}
.submit {
    width: 26%;
}
.question_3 {
    
    display: flex;
    width: 28%;
    margin: 0 auto;
}
.question_3 p {
    padding-top: 110px;
    
}
.question_4 {
    margin-right: 3px;
    width: 39px;
    margin-top: 26%;
}
.question_5 {
    margin-right: 6%;
}
.corporation {
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 16%;
    text-align: center;
    margin-right: 68%;
    font-weight: bold;
}
.company {
    margin-left: 22%;
    margin-bottom: 2%;
}
.company_info {
    vertical-align: middle;
    display: inline;
    line-height: 60px;
}
.corporation_1 {
    font-size: 14px;
    border: double;
    width: 119px;
    margin-left: 80%;
    margin-bottom: 20px;
    text-align: center;
}
.product_1 {
    display: flex;
    margin-left: 18%;
    margin-top: 3%;
}
.product_2 {
    padding-top: 4%;
    width: 79%;
}
.product_img {
    padding-top: 10%;
    width: 30%;
    height: 13%;
}
.cart_td {
    font-size: 11px;
    font-family: sans-serif;
    width: 24%;
}
.carts_img {
    padding-top: 10%;
    width: 60%;
}
.product_block {
    
    margin-left: 10%;
    margin-top: 8%;
}
.product_3{
    margin-top: 3%;
}
.number {
    margin-top: 10%;
    float: left;
}
.select_td {
    margin-right: -4%;
}
.delete {
    margin-left: 5%;
}

.img_td {
    width: 76%;
    margin-top: 4%;
}
.table_td {
    display: flex;
    font-size: 11px;
    font-family: sans-serif;
    width: 100%;
}
.table_img{
    width: 45%;
}
.product_4{

    margin-bottom: 7%;
    margin: auto;
    margin-right: 15%;
    padding-left: 35px;

}

.table_money {
    text-align: right;
}



.admin {
    font-size: 18px;
    color: #0066c0;
    margin-left: 28%;
    margin-top: 4%;
    width: 180px;
}
.admin_a {
    font-size: 18px;
    color: #0066c0;
    margin-top: 3%;
    margin-left: 30%;
    width: 180px;
}
.admin_b {
    display: inline;
    font-size: 18px;
    color: #0066c0;
    margin-left: 60%;
    width: 180px;
}
.inquiry {
    font-size: 13px;
    margin-left: 35%;
    margin-top: 1%;
}

.list {
    margin-top: 3%;
    font-size: 11px;
}


.buy_1 {
   text-align: center;
   margin-bottom: 1%;
   
}
.buy_2{
    text-align: center;
}
.form-group {
    margin-bottom: 3%;
}
.customer_information.form-group.row {
    margin-top: 2%;
}
.caution {
    font-size: 9px;
    text-align: center;
}